* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span,
a,
img,
label,
input,
select,
button {
    display: block;
}


#box {
    border: 1px solid red;
}

.toggleDisplay {
    display: none;
}

#dragBox {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    position: absolute;
    top: 50px;
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    user-select: none;
    border-radius: 10px;
}

.dark-mode {
    background-color: black;
    color: white;
}